*.o
*.lo
*.la
Makefile
Makefile.in
.deps
.libs
alternative-test
domain-test
strlst-test
timeval-test
utf8-test
watch-test
watch-test-thread
avahi-reflector
avahi-test
conformance-test
dns-spin-test
dns-test
hashmap-test
prioq-test
querier-test
timeeventq-test
update-test
*-test.log
*-test.trs
test-suite.log
