*.tar.gz
doxygen
Makefile
Makefile.in
*~
*.pc
*.o
*.lo
*.la
.deps/
.libs/
aclocal.m4
*.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
.*.swp
test-driver
